<h1>Actualizar</h1>
<div>
<%= form_for @user, html: { multipart: true }  do |x| %>
<label>Introduzca su nombre:</label>
<%= x.text_field :name %>
<br>
<!--<label>Introduzca su contraseña:</label>
<%= x.password_field :password %>
<br>-->
<label>Introduzca su username:</label>
<%= x.text_field :username %>
<br>
<label>Introduzca su email:</label>
<%= x.text_field :email %>
<br>
<p>
<label>Selecione imagen:</label>
<%= x.file_field :picture %>
</p>

<br>
<%= x.submit "Aceptar"%>
<%end%>
</div>
