<h1>Actualizar</h1>
<div>
<%unless @user.can_edit_password?%>
  <%= form_for @user, html: { multipart: true }  do |x| %>
    <label>Introduzca su nombre:</label>
      <%= x.text_field :name %>
      <br>
      <!--<label>Introduzca su contrase単a:</label>
      <%= x.password_field :password %>
      <br>-->
      <label>Introduzca su email:</label>
      <%= x.text_field :email %>
      <br>
      <p>
        <label>Selecione imagen:</label>
        <%= x.file_field :picture %>
      </p>
      <br>
      <%= x.submit "Aceptar"%>
      <%= link_to "Actualizar contrase単a",:updatePassword%>
  <%end%>
<%else%>
  <%= form_for @user do |x| %>
    <%= @user.username%>
    <label>Introduzca su nueva contrase単a:</label>
    <%= x.password_field :password %>
    <br>
    <label>Rectifique la nueva contrase単a:</label>
      <%= x.password_field :password_confirmation %>
    <br>
    <%= x.submit "Aceptar"%>
  <%end%>
<%end%>

</div>
