<%if current_user%>
<h1><%= current_user.username.upcase%> </h1>

<p><%= link_to "Buscar amigos", users_path %></p>
<h2>Tus amigos</h2>
<ul>
  <% for friendship in current_user.friendships %>
  <li>
    <%= h friendship.friend.username %>
    (<%= link_to "Eliminar amigo", friendship, method: :delete %>)
  </li>
  <% end %>
</ul>
  <h2>Usuarios que te han enviado solicitud de amistad</h2>
<ul>
  <% for user in current_user.inverse_friends %>
  <%if current_user.friendships.include?(user)%>
  <li>
    <%= link_to user.username, friendships_path(friend_id: user), method: :post  %>
  </li>
  <%end%>
  <% end %>
</ul>

<%= link_to "Mis Posts", :posts  %>
<%end%>
