
<%if @posts.any? %>
<h1> Estos son los posts de todos tus amigos</h1>

<%@posts.each do |x| %>
<div class = "center-block">
  <h2><%=link_to x.title, x %> <small> Propietario: <%= x.user.username%></small> </h2>
  <div class="pull-right">
  <%if current_user == x.user%>
    <%= link_to x,data: {confirm: "Esta seguro que desea eliminar el post"},method: :delete, class: "btn btn-default"  do %>

      <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Eliminar Post
    <%end%>
  <%end%>
  </div>

  <p><%= x.description %></p>
  <hr>
</div>
<%end%>
<%else%>
  <h1>No has creado ningun post, pulsa en el boton para crear uno nuevo</h1>
<%end%>

<button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><%= link_to " Nuevo post", :new_post %>
</button>
<div class="text-center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
